.country{
 
  width: 300px;
  border: 2px solid hotpink;
  margin: 5px;
  padding: 40px;
  text-align: center;
}
.country-name{
  color: brown;
  font-size: 2rem;
 
}
#country{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
}